@import 'assets/mixin.scss';

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(8, 8, 8); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000; 
}

//Account Container
.accCon {
  margin-top: 25vh;
  margin-right: 100px!important;
  margin-left: 100px!important;

  @include ipadpro {
    display: block;
    margin-top: 1vh;
    margin-left: 50px!important;
  }

  @include ip678plus {
    display: block;
    margin-left: 110px!important;
  }

  .accCon__nav {
    text-align: right;
    // border-right: 1px solid #000;

    @include ipadpro {
      border: none;
    }

    @include ip678plus {
      text-align: center;
    }

    a.nav-link.active {
      color: rgb(255, 255, 255);
      background-color: rgb(255, 0, 0);
    }

    .accCon__nav-link {
      text-align: right;
      text-decoration: none;
      color: rgb(0, 0, 0);
      width: 200px;
      margin-bottom: 10px;
      padding: 5px 25px 5px 0;
      box-shadow: 1px 1px #000;
      font-weight: 500;
      font-size: 16px;

      @include ipadpro {
        font-size: 20px;
        width: 230px;
        z-index: 100;
      }

      @include ip678plus {
        padding-left: 25px;
        font-size: 15px;
        width: 100%;
        text-align: center;
        z-index: 100;
      }
    }
  }
}

//Infor Account
.in4Account {
  margin-left: 20px;
  text-align: -webkit-center;

  @include ip678plus {
    margin-left: -70px;
  }

  .in4Account__form {
    margin-bottom: 10px;
    box-shadow: 1px 1px #000;
    border-radius: 3px;
    width: 500px;

    @include ipadpro {
      .form-control {
        font-size: 25px;
      }
    }

    @include ip678plus {
      width: 300px;

      .form-control {
        font-size: 15px;
      }
    }
  }

  .in4Account__format-button {
    display: block;
    margin-top: 10px;
    box-shadow: 1px 1px #000;
    outline-color: rgb(255, 255, 255);
    border: 1px;
    border-radius: 5px;
    padding: 0 5px;
    color: #fff;
    background-color: red;
    width: 500px;

    @include ipadpro {
      font-size: 25px;
    }

    @include ip678plus {
      font-size: 15px;
      width: 300px;
    }
  }
}


//Change Password
.changePw {
  margin-left: 20px;
  text-align: -webkit-center;

  @include ip678plus {
    margin-left: -70px;
  }

  .changePw__form {
    margin-bottom: 10px;
    box-shadow: 1px 1px #000;
    border-radius: 3px;
    width: 500px;

    @include ipadpro {
      .form-control {
        font-size: 25px;
      }
    }

    @include ip678plus {
      width: 300px;

      .form-control {
        font-size: 15px;
      }
    }
  }

  .changePw__format-button {
    display: block;
    margin-top: 10px;
    box-shadow: 1px 1px #000;
    outline-color: rgb(255, 255, 255);
    border: 1px;
    border-radius: 5px;
    padding: 0 5px;
    color: #fff;
    background-color: red;
    width: 500px;

    @include ipadpro {
      font-size: 25px;
    }

    @include ip678plus {
      font-size: 15px;
      width: 300px;
    }
  }
}

//List Booking

.list__booked-div {
  margin-left: 100px;
  margin-right: 30px;
  
  @include ip678plus {
    
  }

  @include ip678plus {
    margin-left: -120px;
    margin-right: -100px;
    overflow-x: scroll;
  }

  .listBooked__table-tr {
    box-shadow: 1px 1px #000;

    @include ipadpro {
      font-size: 20px;
    }

    @include ip678plus {
      font-size: 12px;
    }

    th {
      @include ipadpro {
        vertical-align: top!important;
      }
    }
  
    th:nth-child(1) {

      @include ip678plus {
        min-width: 100px;
      }
    }
    th:nth-child(2) {
      min-width: 100px;

      @include ip678plus {
        min-width: 50px;
      }
    }
    th:nth-child(4) {
      min-width: 70px;

      @include ip678plus {
        min-width: 100px;
      }
    }
    th:nth-child(6) {
      min-width: 100px;

      @include ip678plus {
        min-width: 70px;
      }
    }
    th:nth-child(7) {
      min-width: 100px;

      @include ip678plus {
        min-width: 100px;
      }
    }
  }
  
  .listBooked__tbody-tr {
    @include ip678plus {
      font-size: 12px;
    }
  
    td:nth-child(6) {
      max-width: 150px;
      display: flex;
      flex-wrap: wrap;
    }
  }
}